<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/adminhome.css}">
</head>
<body>
<div id="box">
	<p>ADMIN HOME PAGE</p>
	<form action="newsong" method="get">
	<input type="submit" value="ADD SONGS"><br>
	</form>
	
	<form action ="viewsong" method="get">
	<input type="submit" value="VIEW SONGS"><br>
	</form>
	
	<form action="createplaylists">
	<input type="submit" value="CREATE PLAYLIST"><br>
	</form>
	
	<form action="viewplaylists">
	<input type="submit" value="VIEW PLAYLISTS"><br>
	</form>
	
	<form action="updateplaylists">
	<input type="submit" value="UPDATE PLAYLISTS"><br>
	</form>
	</div>
</body>
</html>