<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CUSTOMER HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/customerhome.css}">
</head>
<body>
	<h2>CUSTOMER HOME PAGE</h2>

	<!-- <form action="playsongs" method="get">
		<input type="submit" value="PLAY SONGS">
	</form>
	<br> -->

	<div th:unless="${ispremium}" class="non-premium">
		<form action="pay" method="get">
			<input type="submit" value="GET PREMIUM">
		</form>
		<br><br>

		<form action="logout" method="get">
			<input type="submit" value="LOGOUT">
		</form>
	</div>

	<div th:if="${ispremium}" class="premium">
		<table border="1">
			<thead>
				<tr>
					<th>Name</th>
					<th>Artist</th>
					<th>Genre</th>
					<th>Play</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Song : ${Songs}">
					<td th:text="${Song.name}"></td>
					<td th:text="${Song.artist}"></td>
					<td th:text="${Song.genre}"></td>
					<td><audio controls>
							<source th:src="${Song.link}">
						</audio></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>