<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>NEW SONG</title>
<link rel="stylesheet" type="text/css" th:href="@{/newsong.css}">
</head>
<body>
<div id="box">
	<form action="addsong" method="post">
		<h2>ADD NEW SONGS HERE:</h2>

		<label>Song Name:</label><br>
		<input type="text" name="name"><br><br> 
		
		<label>Song Artist:</label><br>
		<input type="text" name="artist"><br><br>
		
		<label>Song Genre:</label><br> 
		<input type="text" name="genre"><br><br>
		
		<label>Song Link:</label><br>
		<input type="text" name="link"><br><br>
		
		<input type="submit" value="ADD SONG" id="log">
	</form>
	</div>
</body>
</html>